aniso8601==7.0.0
asgiref==3.4.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
fastapi==0.68.1
Flask==1.1.1
Flask-RESTful==0.3.7
gunicorn==19.9.0
h11==0.12.0
httptools==0.2.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pip==20.0.2
pydantic==1.8.2
python-dotenv==0.19.0
pytz==2019.1
PyYAML==5.4.1
requests==2.22.0
setuptools==44.0.0
six==1.12.0
starlette==0.14.2
typing-extensions==3.10.0.2
urllib3==1.25.3
uvicorn==0.15.0
uvloop==0.16.0
watchgod==0.7
websockets==10.0
Werkzeug==0.15.5
